# Laravel specific
/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel environment file
.env
.env.backup

# Laravel storage
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

# SQLite database
*.sqlite
*.sqlite-journal

# PHPUnit
.phpunit.result.cache
.phpunit.cache

# IDE specific
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# OS specific
.DS_Store
Thumbs.db